flows/Change_Management_at_Login_Flow-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Decision_CurrentlyPrefersClassic</name>
        <label>Decision Currently Prefers Classic</label>
        <locationX>389</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Screen_CurrentlyPrefersLightning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_IsUserNotLightningEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Variable_CurrentUserProfile.PermissionsLightningExperienceUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_UpcomingLightning</targetReference>
            </connector>
            <label>Outcome Is User Not Lightning Enabled</label>
        </rules>
        <rules>
            <name>Outcome_IsCurrentlyPrefersClassic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_UserPrefersClassic</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_TryLightning</targetReference>
            </connector>
            <label>Outcome Is Currently Prefers Classic</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsCorrectDay</name>
        <label>Decision Is Correct Day</label>
        <locationX>190</locationX>
        <locationY>420</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_IsCorrectDay</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Formula_DayOfTheWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_DayOfTheWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tuesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_DayOfTheWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wednesday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_DayOfTheWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thursday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_DayOfTheWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Friday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_DayOfTheWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saturday</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_DayOfTheWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sunday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_CurrentlyPrefersClassic</targetReference>
            </connector>
            <label>Outcome Is Correct Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_SetAReminder</name>
        <label>Decision Set A Reminder</label>
        <locationX>753</locationX>
        <locationY>436</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_IsSetAReminder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateTime_Reminder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRecord_ReminderTask</targetReference>
            </connector>
            <label>Outcome Is Set A Reminder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_TryLighting</name>
        <label>Decision Try Lighting</label>
        <locationX>602</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Screen_SetAReminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_PrefersTryLightning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PrefTryLightning</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecords_PrefTryLightning</targetReference>
            </connector>
            <label>Outcome Prefers Try Lightning</label>
        </rules>
    </decisions>
    <formulas>
        <name>Formula_CurrentUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Formula_CurrentUserProfileId</name>
        <dataType>String</dataType>
        <expression>{!$User.ProfileId}</expression>
    </formulas>
    <formulas>
        <name>Formula_DayOfTheWeek</name>
        <dataType>String</dataType>
        <expression>{!CASE( MOD( $Flow.CurrentDate - DATE(1900, 1, 7), 7), 0, &quot;Sunday&quot;, 1, &quot;Monday&quot;, 2, &quot;Tuesday&quot;, 3,&quot;Wednesday&quot;, 4, &quot;Thursday&quot;, 5, &quot;Friday&quot;, 6, &quot;Saturday&quot;,&quot;Error&quot;)}</expression>
    </formulas>
    <formulas>
        <name>Formula_UserPrefersClassic</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.UITheme} == &apos;Theme3&apos;</expression>
    </formulas>
    <interviewLabel>Change Management at Login Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Change Management at Login Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRecord_ReminderTask</name>
        <label>Create Record Reminder Task</label>
        <locationX>1007</locationX>
        <locationY>435</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateTime_Reminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Try Lightning</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>GetRecord_CurrentUserProfile</name>
        <label>Get Record Current User Profile</label>
        <locationX>50</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsCorrectDay</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_CurrentUserProfileId</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputReference>Variable_CurrentUserProfile</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PermissionsLightningExperienceUser</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRecords_PrefTryLightning</name>
        <label>Update Records Pref Try Lightning</label>
        <locationX>1003</locationX>
        <locationY>235</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Formula_CurrentUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPreferencesLightningExperiencePreferred</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Screen_CurrentlyPrefersLightning</name>
        <label>Screen Currently Prefers Lightning</label>
        <locationX>496</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText_PrefersLightning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Looks like you are well on your way to being a Lightning expert. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Keep at it Trailblazer!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_LightningFeaturePrefersLightning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The lightning feature of the week is &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Zoom through related lists with quick filters&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;http://releasenotes.docs.salesforce.com/en-us/summer19/release-notes/rn_lex_related_list_quick_filters.htm&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;Learn more&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_SetAReminder</name>
        <label>Screen Set A Reminder</label>
        <locationX>612</locationX>
        <locationY>433</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_SetAReminder</targetReference>
        </connector>
        <fields>
            <name>DisplayText_SetAReminder</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Heard.&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Wanna create a reminder to get familiar with Lightning for this week?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DateTime_Reminder</name>
            <dataType>DateTime</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_TryLightning</name>
        <label>Screen Try Lightning</label>
        <locationX>396</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_TryLighting</targetReference>
        </connector>
        <fields>
            <name>DisplayText_AboutLightning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Hey hey, if you don&apos;t know, Lightning is the next generation of Salesforce. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;We get it. Change is difficult, but don&apos;t you want to be 25% more productive? &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿You got this Trailblazer!&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_LightningFeature</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The lightning feature of the week is &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Zoom through related lists with quick filters&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;http://releasenotes.docs.salesforce.com/en-us/summer19/release-notes/rn_lex_related_list_quick_filters.htm&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;Learn more&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Toggle_TryLightning</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yeah, I&apos;m Ready To Tackle This!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Wanna try Lightning today even for just 5 minutes? All the cool kids are.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nah, I&apos;ll Stick To Classic For Right Now</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Var_PrefTryLightning</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_UpcomingLightning</name>
        <label>Screen Upcoming Lightning</label>
        <locationX>399</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText_LightningIsComing</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hey there! This is just a friendly reminder that &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Lightning&lt;/b&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;is coming in&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;2 weeks!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayText_LightningFeatureNoLightning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;The lightning feature of the week is &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Zoom through related lists with quick filters&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;http://releasenotes.docs.salesforce.com/en-us/summer19/release-notes/rn_lex_related_list_quick_filters.htm&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;Learn more&lt;/b&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetRecord_CurrentUserProfile</startElementReference>
    <status>Active</status>
    <variables>
        <name>Var_PrefTryLightning</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Variable_CurrentUserProfile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
</Flow>
